<!doctype html >
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"  id="bootstrap-css" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary text-white">
        <div class="container-fluid ">
          <a class="navbar-brand" href="#">SmartContactManager</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/about}">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:text="${user.name}"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}">Logout</a>
              </li>

            </ul>
           
          </div>
        </div>
    </nav>

    <div class="sidebar">
      <i class="cross-btn" onclick="toggleSidebar()">&times;</i>
      <a href="#" class="item"><i class="fa-solid fa-house fa"></i> Home</a>
      <a href="#" class="item"> <i class="fa-solid fa-address-card"></i> View Contacts</a>
      <a href="#" class="item"><i class="fa-solid fa-pen"></i> Add Contact</a>
      <a href="#" class="item"><i class="fa-solid fa-user"></i> Your Profile</a>
      <a href="#" class="item"><i class="fa-solid fa-gear"></i> Settings</a>
      <a href="#" class="item"><i class="fa-sharp fa-solid fa-right-from-bracket"></i> Logout</a>
    </div>
    <div class="content" >
   
        
        <i class="fas fa-bars m-20" onclick="toggleSidebar()" ></i>
      
      <div th:replace="${content}">
        
      </div>
    
    </div>
    <script th:src="@{/js/scripts.js}"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>