<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
</head>
<body>
    <section  class="text-center">
        <h1>Welcome, you are normal user.</h1>
        <h1>This is your private Dashboard</h1>
      
    <h1>your user name <span th:text="${user.name}"></span></h1>
    <h1>your user email <span th:text="${user.email}"></span></h1>
    <h1><a href="/logout">Logout</a></h1>
    </section>
</body>
</html>