body{
    background-color: darkgray;
}

.bg-primary{
    background: #009688 !important;
}
.banner{
    height: 93vh;
    background:linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)),url("../img/background.png");
    background-size:cover;
}

.my-card{
    padding:20px;
    background-color: #ffffff;
}



#login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -53px;
    text-decoration: none !important;

  }

  .sidebar{
    width:15%;
    background-color:white;
    height:100vh;
    padding-top: 40px;
    position: fixed;
    margin-top: 60px;
  }

  .sidebar a{
    display: block;
    width: 100%;
    padding: 10px 25px;
    text-decoration: none;
    color: gray;
  }

  .sidebar a:hover{
    background-color: #e2e2e2;
  }

  .content{
    display:inline-block;
    width: 85%;
    margin-left: 14%;
    margin-top: 20px;
  }

  .cross-btn{
    position: absolute;
    top:0px;
    right: 30px;
    font-size: 40px;
    cursor:pointer;
  }

  @media screen and (max-width:600px) {
    .sidebar{
      display:none;
      width:80% !important;
      background-color: white;
      position:fixed;
      padding-top: 20px;
      z-index: 999999;
    }

    .content{
      padding-top: 0px;
      margin-left: 0px !important;
      width: 100%;
    }

    
  }

  .contact-form{
    background-color: #e2e2e2;
    width:50%;
    margin-left:auto ;
    margin-right:auto ;
    padding: 10px 10px;
    padding-left: 4px;
    margin-top: 0px;
  }
  .contact-section{
    margin-top: 0px;
  }